:root {
    --blue: #2a8dff;
    --gray: #949494;
}

.red {
    color: red;
}

.black {
    color: black;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}
html{
    background-color: #f7f7f7;
}
/* Header */
.header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0px 0px 5px #e3e3e3);
    z-index: 2;
}

.burger {
    transition: all 0.2s ease-in-out;
}

.header__reminder {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid #cfcfcf;
}

.header__reminder.active {
    display: none;
}


.header__notification {
    display: flex;
    align-items: center;
    gap: 1em;
    z-index: 1;
}

.header__icons {
    width: 20px;
}

.logo {
    width: 120px;
}

.header__answers {
    gap: 2em;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.gray {
    color: var(--gray);
}

.blue {
    color: var(--blue);
}

.header__panel {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 2em;
    background-color: white;
    gap: 2em;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}


.header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    width: -webkit-fill-available;
}

.header__input {
    height: 40px;
    max-width: 600px;
    width: inherit;
    padding: 5px;
    border: 1px solid var(--gray);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__search-btn {
    height: 40px;
    padding: 5px 2em;
    border: 1px solid var(--gray);
    border-left: 0px;
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    cursor: pointer;
}

.header__buttons {
    display: flex;
    gap: 1em;
    color: #7d7d7d;
}



.header__signin {
    color: var(--blue);
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 5px 10px;
    border: 2px solid var(--blue);
    width: fit-content;

}

/* Main */

main {
    height: calc(100vh - 70px);
    display: flex;
    width: auto;
    padding-top: 109px;
}

main.active {
    padding-top: 56px;
}

/* Sidebar */
.side-bar {
    position: fixed;
    height: calc(100% - 56px);
    overflow: scroll;
    width: 20%;
    background-color: #f0f0f0;
    color: #4a4a4a;
    transition: all 0.2s ease-in-out;
    z-index: 1;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-header {
    font-weight: 600;
    color: #686868;
    display: flex;
    align-items: center;
    padding: 12px 25px;
}

.nav-link span {
    padding: 0 1em;
    overflow: hidden;
    text-wrap: nowrap;
}



.nav-sign {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    padding: 12px 25px;
    gap: 1em;
}



.nav-links {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}


.nav-copyright {
    color: #949494;
    padding: 1em 0;
}

.selected {
    background: #d9d9d9;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 5px 0;
}

/* content */
.content {
    width: 100%;
    height: max-content;
    background-color: #f7f7f7;
    padding-left: 20%;
}

.content.active {
    padding-left: 0;
}

/* terms*/
.terms {
    display: flex;
    padding: 1.2em 2em;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    gap: 1em;

}

.terms__title {
    display: flex;
    align-items: center;
    gap: 1em;
}

.terms__answers {
    align-items: center;
    display: flex;
    gap: 2em;
    white-space: nowrap;
}



/* banner*/
.banner {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 2em 4em;
    gap: 5px;
    background-image: url(images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.banner__content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.banner__close {
    align-self: flex-end;
    padding: 3px 3px 2px 3px;
    background-color: #eaeaea;
}

.banner img {
    width: 150px;
}

.banner__button {
    padding: 10px 1em;
    border: 2px solid black;
    width: fit-content;
}

/* videos */

.videos {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 4em 3em 4em;
    ;
}


.videos__author {
    display: flex;
    align-items: center;
    gap: 0.5em;
}


.videos__flow {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: space-between
}

.videos__information {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.videos__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;

}

.videos__item {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    justify-content: left;
}



.videos__cover {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-self: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.videos__cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.videos__arrow {
    z-index: 1;
    position: absolute;
    right: -25px;
    top: calc(50% - 25px);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 5px#000000)
}

.videos__time {
    position: absolute;
    align-self: flex-end;
    background-color: rgb(0, 0, 0, 50%);
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: fit-content;
}

.videos__icons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    margin: 5px;


}

.videos__icons span {
    font-size: 1em;
    background-color: rgb(0, 0, 0, 50%);
    color: white;
    padding: 5px;
    border-radius: 3px;
    width: fit-content;
}


.videos__footer,
.videos__label {
    color: var(--gray);
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.videos__author span {
    font-size: 1.2em;
}

.videos__channel,
.videos__name {
    font-weight: 600;
}

.videos__name {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videos__name p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.videos__name span {
    font-size: 20px;
}


.videos__avatar {
    width: 40px;
    height: 40px;
}

.videos__avatar img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.videos__subscribe {
    white-space: nowrap;
    min-width: 200px;
    display: flex;
    justify-content: center;
    padding: 10px 1em;
    background-color: red;
    color: white;
    cursor: pointer;
}

#first-button.active,
#second-button.active,
#third-button.active {
    background-color: rgb(121, 121, 121);
}

#first-subscribed,
#second-subscribed,
#third-subscribed {
    display: none;
}

#first-subscribed.active,
#second-subscribed.active,
#third-subscribed.active {
    display: block;
}

#first-subscribe.active,
#second-subscribe.active,
#third-subscribe.active {
    display: none;
}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.tooltip__search {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
}

.tooltip .tooltiptext,
.tooltip__search .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0, 0, 0, 0.6);
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    padding: 7px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    margin-left: -60px;
}

.side-bar.active,
.terms.active,
.banner.active {
    display: none;
}

.videos__item .videos__icons,
.videos__item .videos__name span {
    filter: opacity(0);
}


@media (hover: hover) {

    .tooltip:hover .tooltiptext,
    .tooltip__search:hover .tooltiptext {
        visibility: visible;
    }

    .banner__close:hover,
    .banner__button:hover,
    .videos__item:hover,
    .header__buttons>*:hover,
    .nav-link:hover,
    .header__signin:hover,
    .nav-links span:hover,
    .terms__answers p:hover,
    .header__answers p:hover {
        cursor: pointer;
    }

    .videos__item:hover .videos__icons,
    .videos__item:hover .videos__name span {
        filter: opacity(1);
    }


    .terms__answers p:hover,
    .header__answers p:hover {
        color: black;
    }

    .banner__button:hover p {
        color: #2a8dff;
    }

    .header__buttons img:hover {
        filter: brightness(0);
    }

    .header__buttons span:hover {
        color: #000000;
    }

    .nav-link:hover {
        background: #d9d9d9;
    }

    .header__signin:hover {
        color: rgb(0, 0, 0);

    }

    .header__signin:hover img {
        filter: brightness(0);
    }

    .nav-links span:hover {
        color: black;
    }

    .header__search-btn:hover {
        background-color: #c2c2c2;
    }

    .videos__subscribe:hover {
        background-color: #e00000;
    }

    .videos__author:hover {
        color: #000000;
    }

    #first-button.active:hover,
    #second-button.active:hover,
    #third-button.active:hover {
        background-color: #222222;
    }

}

@media (max-width:1200px) {}

@media (max-width:992px) {
    .videos__grid {
        grid-template-columns: 1fr 1fr;
    }

    .videos__arrow {
        display: none;
    }

    .side-bar {
        width: 240px;
    }

    .content {
        padding-left: 0;
    }

}

@media (max-width:768px) {
    .videos__grid {
        grid-template-columns: 1fr;
    }

    .header__search {
        display: none;
    }

    .tooltip__search {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }

    .header__reminder {
        display: none;
    }

    main {
        padding-top: 56px;
    }

    .videos__flow {
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
    }

   .header__buttons .header__signin {
        display: none;
    }

    .side-bar {
        display: none;
    }
    .side-bar.active{
        display: block;
    }
    .videos {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2em;
    }
    .banner{
        padding: 1em 1em 2em 2em;
    }
}



@media (max-width:425px) {
    .terms {
        display: none;
    }

    .header__buttons span {
        display: none;
    }

    .header__panel {
        gap: 0;
    }

}