:root {
    --blue: #2a8dff;
    --gray: #949494;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
}

.header__reminder {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--gray);
}

.header__panel {
    display: flex;
}

.header__notification {
    display: flex;
    align-items: center;
    gap: 1em;
}

.header__icons {
    width: 20px;
}

.logo {
    width: 100px;
    height: 50px;
}

.header__answers {
    gap: 2em;
    display: flex;
    align-items: center;
}

.gray {
    color: var(--gray);
}

.blue {
    color: var(--blue);
}

.header__panel {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    border-bottom: 1px solid var(--gray);
}

.header__logo {
    display: flex;
    align-items: center;
}
.header__search{
    display: flex;
    align-items: center;
}
.header__input{
    width: 400px;
    padding: 5px;
    border: 1px solid var(--gray);
}
.header__search-btn{
    padding: 5px 1em;
    border: 1px solid var(--gray);
}

/* Main */

main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}

/* Sidebar */ 
.side-bar {
    height: 100%;
    width: 17%;
    background-color: white;
    overflow-y: hidden;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px 25px;
}
  
.nav-link span {
    margin-left: 15px;
}
  
.nav-link:hover {
    background: #e5e5e5;
    cursor: pointer;
}
 
.active {
    background: #e5e5e5;
}

hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

@media (max-width: 768px) {
    .side-bar {
      display: none;
    }
}